/* AnshumanSarma_WAP to apply basic CSS styling to HTML forms and headings */


h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    color: aliceblue;
}
form{
    font-family: sans-serif;
}
body{
    background-color: rgb(153, 174, 192);
}

script{
color: rgb(153, 174, 192);
}